<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chrono de cuisine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="time-left"> {{ displayTime(timeLeftInSeconds) }} </div>

  

  <ion-grid>
    <ion-row>

      <ion-col size="12" *ngIf="!timer">
        <ion-button expand="block" (click)="startTimer()">
          {{ timeLeftInSeconds == 0 ? 'Lancer' : 'Reprendre' }}
        </ion-button>
      </ion-col>

      <ion-col  *ngIf="timer">
        <ion-button expand="block" (click)="pauseTimer()">pause</ion-button>
      </ion-col>

      <ion-col *ngIf="timer">
        <ion-button expand="block" (click)="stopTimer()">stop</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  
</ion-content>
